/* REVIEW */

.review-service {
  background-image: url("../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 650px;
}

.review-common {
  display: flex;
}

.review-header {
  color: yellowgreen;
  font-size: 18px;
  top: 10%;
  left: 20%;
  right: 20%;
}

#review-text {
  text-align: center;
}

#review-under-text {
  font-size: 14px;
  color: gray;
  line-height: 10px;
  text-align: center;
}

.review-two-message {
  display: flex;
  width: 100%;
  height: 45%;
  background-color: green;
  align-items: center;
  justify-content: space-around;
}

.review-first-message {
  display: flex;
  width: 333px;
  height: 100%;
  background-color: red;
}
.review-second-message {
  display: flex;
  width: 333px;
  height: 100%;
  background-color: red;
}
