body {
  margin: 0;
  font-family: "Open Sans", sans-serif;

  font-size: 11px;
  color: #666666;
  line-height: 77px;
  min-width: 1250px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Many Text after picture*/

.many-Text {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.little-Picture {
  padding: 30px;
  display: flex;
  align-items: center;
}

.gray-text {
  line-height: 40px;
  text-align: center;
  font-weight: 550;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans - Semibold";
  font-size: 31px;
  margin-bottom: 50px;
}

.different-text {
  line-height: 40px;
  text-align: center;
  width: 80%;
  font-family: "Open Sans";
  font-size: 19px;
  margin-bottom: 50px;
}

/* Sofa and Wallet*/

.block-items {
  height: 350px;
  width: 100%;
  display: flex;
}

.card {
  height: 100%;
  width: 50%;
  height: 100%;
  display: flex;
}

#sofa-card {
  background-color: rgb(195, 227, 236);
}

#wallet-card {
  background-color: rgb(235, 243, 217);
}

.picture {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#first-button {
  background-color: rgb(38, 166, 209);
  cursor: pointer;
}

#second-button {
  background-color: #add136;
  cursor: pointer;
}

.main-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.text-title {
  margin-bottom: 20px;
  line-height: 40px;
  color: #515151;
  text-align: center;
  font-family: "Open Sans";
  font-size: 23px;
  padding-top: 25px;
}

.text-usually {
  margin-bottom: 20px;
  width: 80%;
  font-size: 17px;
  line-height: 2;
  text-align: left;
}
