body {
  margin: 0;
  font-family: "Open Sans", sans-serif;

  font-size: 11px;
  color: #666666;
  line-height: 77px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.intro {
  background: url(../images/back.jpg) center no-repeat;
}
